body
{
    background-color: #3f8280;
    font-family: sans-serif;
}

.header_div
{
    background-color: #8cb4b3;
    color: black;
}

.header_div p
{
font-family: sans-serif;
color:black;
letter-spacing: 2px;
font-size: 12px;
font-weight: bold;
}